@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* colour scheme */
  --dark-blue: #032a42;
  --light-blue: #d1e2f3;
  --lighter-blue: #f0f0dc;
  --light-brown: #f0d8b6;
  --dark-brown: #b3926f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix for invisible input text in themed environments */
input, textarea, select {
  color: #111827 !important; /* text-gray-900 */
}

input::placeholder, textarea::placeholder {
  color: #6b7280 !important; /* text-gray-500 */
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

button:not(:disabled) {
  cursor: pointer;
}
